source https://www.nuget.org/api/v2


nuget FSharp.Core
nuget Microsoft.AspNetCore
nuget Microsoft.AspNetCore.Session
nuget Microsoft.AspNetCore.ResponseCompression
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.Extensions.Caching.Memory

git https://github.com/Krzysztof-Cieslak/Giraffe fixes build: "powershell ./build.ps1 -Release -ExcludeTests -ExcludeSamples -Pack", OS: windows, Packages:/src/Giraffe/bin/Release
git https://github.com/Krzysztof-Cieslak/Giraffe fixes build: "./build.sh -Release -ExcludeTests -ExcludeSamples -Pack", OS: mono, Packages:/src/Giraffe/bin/Release

nuget Giraffe

group Build
  source https://www.nuget.org/api/v2

  nuget FAKE
  github fsharp/FAKE modules/Octokit/Octokit.fsx