version 5.241.6
source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp3.1

nuget Expecto
nuget Newtonsoft.Json
nuget NSubstitute
nuget System.Threading.Tasks.Dataflow >= 4.9
nuget BenchmarkDotNet

nuget Giraffe prerelease
nuget Giraffe.ViewEngine

nuget Microsoft.AspNetCore.Authentication.JwtBearer < 3.1
nuget Microsoft.AspNetCore.Authentication.Google < 3.1
nuget Microsoft.AspNetCore.Authentication.OpenIdConnect < 3.1
nuget Microsoft.NET.Sdk.Functions < 3.1
nuget protobuf-net.Grpc.AspNetCore
nuget protobuf-net.Grpc.HttpClient
nuget FSharp.Control.Websockets >= 0.2
nuget FSharp.Core >= 4.2.3

group Docs
  source https://api.nuget.org/v3/index.json
  framework: netstandard2.0
  storage: symlink

  nuget FSharp.Formatting prerelease
  nuget Newtonsoft.Json

group DocsAsp
  source https://api.nuget.org/v3/index.json
  framework: netcoreapp3.1
  storage: symlink

  nuget Microsoft.AspNetCore.App.Ref

group Build
  source https://api.nuget.org/v3/index.json
  framework: netstandard2.0
  storage: none

  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.MsBuild
  nuget Fake.Api.GitHub
